<div class="app-container">

    <div class="loginLogoWrap">
        <img src="assets/logo.png" height="20" style="display: block;" />
    </div>

    <div class="loginTextWrap">

        <!-- <p style="position: absolute;
        font-size: 7px;
        right: 62px;
        top: 118px;">15416px</p> -->

        <h2 class="font-25">Create better together.</h2>
        <h2 class="font-25">join reecosys community.</h2>
    </div>

    <div class="login_control_wrap">

        <mat-form-field appearance="fill" class="select custom_dropdown">
            <mat-label>Code</mat-label>
            <mat-select [value]="91">
                <mat-option value="91">IN +91</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" class="input_control">
            <mat-label>Mobile Number</mat-label>
            <input matInput type="number" minlength="10" maxlength="10">
        </mat-form-field>


    </div>



</div>