.BottomToolbarNav{  
    position: fixed;
    bottom: 0; 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.BottomToolbarNav span{
    display: inline-block;
    width: calc(100% / 5);
    margin: 0 auto;
    text-align: center;
    vertical-align: bottom;
    border-top: solid 2px transparent;
    /* padding: 8px 0; */
}
.BottomToolbarNav span.active{
    border-color: #FF3008;
}
.BottomToolbarNav span a{
    padding-bottom: 5px;
}
.BottomToolbarNav span a, .BottomToolbarNav span label{
    width: 100%;
    font-size: 11px;
    display: block;
    line-height: 1;
    color: #7C7C7C;
}
.BottomToolbarNav span img{
    width: 24px;
}

.searchWrap{
    width: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    color: #747474;
    margin: 20px auto;
}
.searchWrap .iconWrap{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.searchWrap input:focus{
    outline: 0;
    border: none;
}
.searchWrap input{
    background: #F2F2F2;
    width: calc(100% - 32px);
    border: none;
    padding: 12px 0;
    padding-left: 32px;
}
.search-container{
    padding-left: 16px;
    padding-right: 16px;
}

.flexBlock{
    display: flex;
}

.operationIcon{

}

.flexBlock.verticalcenter{
    align-items: center;
    justify-content: center;
}
.flexBlock .bookmarkIcon{
    margin-right: -10px;
}