<ng-container ng-if="knowledgeListing.length > 0 && !firstLoading">
    <div class="">
        <div class="search-container">
            <div class="searchWrap">
                <div class="iconWrap">
                    <mat-icon aria-hidden="true" aria-label="Example home icon">search</mat-icon>
                </div>
                <input type="text" class="searchBox" placeholder="Search Reecosys">
            </div>
        </div>

        <div class="app-container bottom-bar-padding" infiniteScroll [infiniteScrollDistance]="5"  (scrolled)="getKnowledges()">
            <ng-container>
                <div style="margin-top: 15px;">
                    <ng-container *ngFor="let knowledge of knowledgeListing; let i = index">
                        <app-knowledge-block [knowledge]="knowledge"></app-knowledge-block>
                        <ng-container *ngIf="i >= 10 && i < 11 && trendingPosts.length > 0">

                            <div class="trendingWrapMain">
                                <div class="trendingWrap">
                                    <h2>Trending News</h2>
                                </div>
                
                                <swiper [config]="configTrending">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" *ngFor="let trendingKnowledge of trendingPosts">
                                            <!-- <img [src]="trendingKnowledge.media[0].media_url.replace('upload/', 'upload/w_400/q_auto/')" /> -->
                                            <a *ngIf="isApp" matRipple class="GeneralSansReg trendingTitle" onclick="urlSend(this)" [attr.data-url]="'knowledge/'+trendingKnowledge.post_id">
                                                <img data-src="{{trendingKnowledge.media[0].media_url_thumb}}" data-srcset="{{trendingKnowledge.media[0].media_url.replace('upload/', 'upload/w_640/q_auto/')}}" class="swiper-lazy mainTrendingImage" />
                                            </a>
                                            <a *ngIf="!isApp" matRipple class="GeneralSansReg trendingTitle" routerLink="/knowledge/{{trendingKnowledge.post_id}}">
                                                <img data-src="{{trendingKnowledge.media[0].media_url_thumb}}" data-srcset="{{trendingKnowledge.media[0].media_url.replace('upload/', 'upload/w_640/q_auto/')}}" class="swiper-lazy mainTrendingImage" />
                                            </a>
                                            <div class="trendingContent">
                                                <p>
                                                    <a *ngIf="isApp" matRipple class="GeneralSansReg trendingTitle" onclick="urlSend(this)" [attr.data-url]="'knowledge/'+trendingKnowledge.post_id">{{trendingKnowledge.title}}</a>
                                                    <a *ngIf="!isApp" matRipple class="GeneralSansReg trendingTitle" routerLink="/knowledge/{{trendingKnowledge.post_id}}">{{trendingKnowledge.title}}</a>
                                                </p>
                                                <p class="small gray">{{trendingKnowledge.location}} <span *ngIf="trendingKnowledge.location != ''"> - </span> {{trendingKnowledge.relative_time}}</p>
                                                <div class="flexBlock verticalcenter operationIcon">
                                                    <p class="small black">
                                                        <a routerLink="profile/{{trendingKnowledge.profile.user_id}">{{trendingKnowledge.profile.name}}</a>
                                                    </p>
                                                    <div class="example-spacer"></div>
                                                    <div matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" class="iconMaster"><img src="assets/icons/bookmark.png" /></div>
                                                    <div matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" class="iconMaster"><img src="assets/icons/share.png" /></div>
                                                    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                                                        <mat-icon>share</mat-icon>
                                                    </button>
                                                    <button mat-icon-button class="example-icon favorite-icon bookmarkIcon" aria-label="Example icon-button with heart icon">
                                                        <mat-icon>bookmark_border</mat-icon>
                                                    </button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </swiper>
                                <div class="trendingWrap">
                                    <span class="trendingDivider"></span>
                                </div>
                            </div>
                        </ng-container>
                
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    <mat-toolbar class="BottomToolbarNav">
        <span matRipple class="font-12 active">
            <a routerLink="/">
                <div class="iconMaster"><img src="assets/icons/placeholder.jpg" /></div>
                <label>knowledge</label>
            </a>
        </span>
        <span matRipple class="font-12">
            <a href="javaScript:void(0)">
                <!-- <img src="assets/icons/placeholder.jpg" /> -->
                <div class="iconMaster"><img src="assets/icons/placeholder.jpg" /></div>
                <label>Network</label>
            </a>
        </span>
        <span matRipple class="font-12">
            <a href="javaScript:void(0)">
                <div class="iconMaster"><img src="assets/icons/placeholder.jpg" /></div>
                <label>My Property</label>
            </a>
        </span>
        <span matRipple class="font-12">
            <a href="javaScript:void(0)">
                <div class="iconMaster"><img src="assets/icons/placeholder.jpg" /></div>
                <label>Government</label>
            </a>
        </span>
        <span matRipple class="font-12">
            <a href="javaScript:void(0)">
                <div class="iconMaster"><img src="assets/icons/placeholder.jpg" /></div>
                <label>Opportunities</label>
            </a>
        </span>
    </mat-toolbar>

</ng-container>
