<ng-container ng-if="knowledgeListing.length > 0">
    <div class="search-container">
        <div class="searchWrap">
            <div class="iconWrap">
                <mat-icon aria-hidden="true" aria-label="Example home icon">search</mat-icon>
            </div>
            <input type="text" class="searchBox" placeholder="Search Reecosys">
        </div>
    </div>

    <div class="app-container bottom-bar-padding" infiniteScroll [infiniteScrollDistance]="5"  (scrolled)="getKnowledges()">
        <ng-container>
            <div style="margin-top: 15px;">
                <ng-container *ngFor="let knowledge of knowledgeListing">
                    <div animateOnScroll animationName="fadeIn animated" class="opacityHidden">
                        <div class="knowledgeBlock" style="padding: 0 15px; padding-bottom: 5px;">  

                            <h2 style="margin-top: 15px;" matRipple>

                                <ng-container *ngIf="knowledge.layout != 'right'">

                                    <ng-container *ngIf="isApp">
                                        <a class="GeneralSansReg title" onclick="urlSend(this)" [attr.data-url]="'knowledge/'+knowledge.post_id" href="javascript:void(0)">{{knowledge.title}}</a>
                                    </ng-container>
                                    <ng-container *ngIf="!isApp">
                                        <a class="GeneralSansReg title" routerLink="knowledge/{{knowledge.post_id}}">{{knowledge.title}}</a>
                                    </ng-container>

                                </ng-container>
                                <ng-container *ngIf="knowledge.layout == 'right'">

                                    <div class="flexBlock verticalcenter">
                                        <div class="contentPadding">
                                            <ng-container *ngIf="isApp">
                                                <a class="title GeneralSansReg" onclick="urlSend(this)" [attr.data-url]="'knowledge/'+knowledge.post_id" href="javascript:void(0)">{{knowledge.title}}</a>
                                            </ng-container>
                                            <ng-container *ngIf="!isApp">
                                                <a class="title GeneralSansReg" routerLink="knowledge/{{knowledge.post_id}}">{{knowledge.title}}</a>
                                            </ng-container>
                                            <p class="small">{{knowledge.location}} <span *ngIf="knowledge.location != ''"> - </span> {{knowledge.relative_time}}</p>
                                        </div>
                                        <ng-container *ngIf="knowledge.post_type == 'image'"> 

                                            <div *ngIf="knowledge.media[0].media_url != ''">
                                                <div class="mediaImageWrap smallBlock">
                                                <!-- <img [defaultImage]="knowledge.media[0].media_url_thumb" [lazyLoad]="knowledge.media[0].media_url" class="lazyImage" /> -->
                                                    <img src="https:{{knowledge.media[0].media_url.replace('w_640', 'w_150')}}" class="lazyImage" />
                                                </div>
                                            </div>
                
                                        </ng-container>
                                    </div>

                                </ng-container>
                            </h2>

                            <ng-container *ngIf="knowledge.layout != 'right'">

                                <p style="margin-bottom: 15px;" class="small">{{knowledge.location}} <span *ngIf="knowledge.location != ''"> - </span> {{knowledge.relative_time}}</p>

                                <div class="mediaImageWrap">
                                    <ng-container *ngIf="knowledge.post_type == 'youtube'">
                                            <iframe style="width: 100%; height: 320px;" [src]="knowledge.media[0].media_url | safe: 'resourceUrl'" frameborder="0" allowfullscreen></iframe>
                                    </ng-container>

                                    <ng-container *ngIf="knowledge.post_type == 'video'">
                                        <plyr style="display: block;" [plyrOptions]="playerOptions" [plyrTitle]="" [plyrPlaysInline]="true" [plyrPoster]="'http:'+knowledge.media[0].media_url.replace('mp4', 'jpg')" [plyrSources]="'http:'+knowledge.media[0].media_url"></plyr>
                                    </ng-container>

                                    <ng-container *ngIf="knowledge.post_type == 'slider'">

                                        <swiper [config]="config">
                                            <div class="swiper-wrapper">
                                            <div class="swiper-slide" *ngFor="let media of knowledge.media">
                                                    <img src="http:{{media.media_url}}" class="lazyImage" />
                                            </div>
                                            </div>
                                            <!-- Add Pagination -->
                                            <div class="swiper-pagination"></div>
                                            <!-- Add Arrows -->
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </swiper>

                                    </ng-container>
                                    
                                    <ng-container *ngIf="knowledge.post_type == 'image'"> 

                                        <p *ngIf="knowledge.media[0].media_url != ''">
                                            <!-- <img [defaultImage]="knowledge.media[0].media_url_thumb" [lazyLoad]="knowledge.media[0].media_url" class="lazyImage" /> -->
                                            <img src="https:{{knowledge.media[0].media_url}}" class="lazyImage" />
                                        </p>

                                    </ng-container>
                                </div>

                            </ng-container>
                            

                            <div class="flexBlock verticalcenter operationIcon">
                                <p class="small black">{{knowledge.profile.name}}</p>
                                <div class="example-spacer"></div>
                                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                                    <mat-icon>share</mat-icon>
                                </button>
                                <button mat-icon-button class="example-icon favorite-icon bookmarkIcon" aria-label="Example icon-button with heart icon">
                                    <mat-icon>bookmark_border</mat-icon>
                                </button>
                            </div>

                            <!-- <hr /> -->
                        </div>
                        <div class="knowledgeDivider"></div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <mat-toolbar class="BottomToolbarNav">
        <span matRipple class="font-12 active">
            <a href="javaScript:void(0)">
                <img src="assets/icons/placeholder.jpg" />
                <label>knowledge</label>
            </a>
        </span>
        <span matRipple class="font-12">
            <a href="javaScript:void(0)">
                <img src="assets/icons/placeholder.jpg" />
                <label>Network</label>
            </a>
        </span>
        <span matRipple class="font-12">
            <a href="javaScript:void(0)">
                <img src="assets/icons/placeholder.jpg" />
                <label>My Property</label>
            </a>
        </span>
        <span matRipple class="font-12">
            <a href="javaScript:void(0)">
                <img src="assets/icons/placeholder.jpg" />
                <label>Government</label>
            </a>
        </span>
        <span matRipple class="font-12">
            <a href="javaScript:void(0)">
                <img src="assets/icons/placeholder.jpg" />
                <label>Opportunities</label>
            </a>
        </span>
    </mat-toolbar>

</ng-container>
