<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="mat-sidenav-main" mode="over" >
        <mat-list>
            <mat-list-item matRipple> 
                <a href="javaScript:void(0)" class="gray">
                    <mat-icon aria-hidden="false" aria-label="toll icon">toll</mat-icon> &nbsp;&nbsp; Sign in 
                </a>
            </mat-list-item>
            <mat-list-item matRipple> 
                <a href="javaScript:void(0)" class="gray">
                    <mat-icon aria-hidden="false" aria-label="toll icon">toll</mat-icon> &nbsp;&nbsp; How It Works 
                </a>
            </mat-list-item>
            <mat-list-item matRipple> 
                <a href="javaScript:void(0)" class="gray">
                    <mat-icon aria-hidden="false" aria-label="toll icon">toll</mat-icon> &nbsp;&nbsp; Bookmark 
                </a>
            </mat-list-item>
            <mat-list-item matRipple> 
                <a href="javaScript:void(0)" class="gray">
                    <mat-icon aria-hidden="false" aria-label="toll icon">toll</mat-icon> &nbsp;&nbsp; My Contents 
                </a>
            </mat-list-item>
            <mat-list-item matRipple> 
                <a href="javaScript:void(0)" class="gray">
                    <mat-icon aria-hidden="false" aria-label="toll icon">toll</mat-icon> &nbsp;&nbsp; Subscriptions 
                </a>
            </mat-list-item>
            <mat-list-item matRipple> 
                <a href="javaScript:void(0)" class="gray">
                    <mat-icon aria-hidden="false" aria-label="toll icon">toll</mat-icon> &nbsp;&nbsp; Notifications 
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item matRipple> 
                <a href="javaScript:void(0)" class="gray">
                    <mat-icon aria-hidden="false" aria-label="toll icon">toll</mat-icon> &nbsp;&nbsp; EMI Calculator 
                </a>
            </mat-list-item>
            <mat-list-item matRipple> 
                <a href="javaScript:void(0)" class="gray">
                    <mat-icon aria-hidden="false" aria-label="toll icon">toll</mat-icon> &nbsp;&nbsp; Unit Converter 
                </a>
            </mat-list-item>
            <mat-list-item matRipple> 
                <a href="javaScript:void(0)" class="gray">
                    <mat-icon aria-hidden="false" aria-label="toll icon">toll</mat-icon> &nbsp;&nbsp; Definations 
                </a>
            </mat-list-item>
            <mat-list-item matRipple> 
                <a href="javaScript:void(0)" class="gray">
                    <mat-icon aria-hidden="false" aria-label="toll icon">toll</mat-icon> &nbsp;&nbsp; My Documents 
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div class="otherLinks">
                <p matRipple>
                    <a href="javaScript:void(0)" class="gray">
                        About
                    </a>
                </p>
                <p matRipple>
                    <a href="javaScript:void(0)" class="gray">
                        Feedback
                    </a>
                </p>
                <p matRipple>
                    <a href="javaScript:void(0)" class="gray">
                        Terms & Conditions
                    </a>
                </p>
                <p matRipple>
                    <a href="javaScript:void(0)" class="gray">
                        Privacy Policy
                    </a>
                </p>
            </div>
        </mat-list>
    </mat-drawer>
    
    <mat-toolbar class="mainToolBar" *ngIf="!noheader">
        <ng-container *ngIf="!isBack">
            <!-- <button mat-icon-button class="NavButtonMain" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
                <mat-icon aria-hidden="true" aria-label="menu icon">menu</mat-icon>
            </button> -->
            <div matRipple [matRippleCentered]="true" class="iconMaster" (click)="drawer.toggle()"><img src="assets/icons/placeholder.jpg" /></div>
        </ng-container>
        <ng-container *ngIf="isBack">
            <!-- <button mat-icon-button class="NavButtonMain" aria-label="Example icon-button with menu icon" mat-button (click)="navigateBack()">
                <mat-icon aria-hidden="true" aria-label="menu icon">chevron_left</mat-icon>
            </button> -->
            <ng-container *ngIf="isApp">
                <div matRipple [matRippleCentered]="true" class="iconMaster" onclick="navigateBackApps(this)"><img src="assets/icons/placeholder.jpg" /></div>
            </ng-container>
            <ng-container *ngIf="!isApp">
                <div matRipple [matRippleCentered]="true" class="iconMaster" (click)="navigateBack()"><img src="assets/icons/placeholder.jpg" /></div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="isBack">
            <span>Back</span>
        </ng-container>
        <ng-container *ngIf="!isBack">
            <div class="mainLogoWrap">
                <img src="assets/logo.png" height="20"  style="display: block;"/>
                <i class="font-12"  style="display: block;">Ahmedabad</i>
            </div>
        </ng-container>
        <span class="example-spacer"></span>
        <div matRipple [matRippleCentered]="true" class="iconMaster" (click)="drawer.toggle()"><img src="assets/icons/placeholder.jpg" /></div>
        <div style="margin-right: -5px;" matRipple [matRippleCentered]="true" class="iconMaster" (click)="drawer.toggle()"><img src="assets/icons/placeholder.jpg" /></div>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>notifications_active_outline</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>add_circle_outline</mat-icon>
        </button> -->
    </mat-toolbar>
    
    <router-outlet (activate)="changeOfRoutes()"></router-outlet>
  
</mat-drawer-container>