@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('assets/fonts/GeneralSans-Variable.woff2') format('woff2'), url('assets/fonts/GeneralSans-Variable.woff') format('woff'), url('assets/fonts/GeneralSans-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-VariableItalic';
    src: url('assets/fonts/GeneralSans-VariableItalic.woff2') format('woff2'), url('assets/fonts/GeneralSans-VariableItalic.woff') format('woff'), url('assets/fonts/GeneralSans-VariableItalic.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'GeneralSans-Extralight';
    src: url('assets/fonts/GeneralSans-Extralight.woff2') format('woff2'), url('assets/fonts/GeneralSans-Extralight.woff') format('woff'), url('assets/fonts/GeneralSans-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-ExtralightItalic';
    src: url('assets/fonts/GeneralSans-ExtralightItalic.woff2') format('woff2'), url('assets/fonts/GeneralSans-ExtralightItalic.woff') format('woff'), url('assets/fonts/GeneralSans-ExtralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'GeneralSans-Light';
    src: url('assets/fonts/GeneralSans-Light.woff2') format('woff2'), url('assets/fonts/GeneralSans-Light.woff') format('woff'), url('assets/fonts/GeneralSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-LightItalic';
    src: url('assets/fonts/GeneralSans-LightItalic.woff2') format('woff2'), url('assets/fonts/GeneralSans-LightItalic.woff') format('woff'), url('assets/fonts/GeneralSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'GeneralSans-Regular';
    src: url('assets/fonts/GeneralSans-Regular.woff2') format('woff2'), url('assets/fonts/GeneralSans-Regular.woff') format('woff'), url('assets/fonts/GeneralSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-Italic';
    src: url('assets/fonts/GeneralSans-Italic.woff2') format('woff2'), url('assets/fonts/GeneralSans-Italic.woff') format('woff'), url('assets/fonts/GeneralSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'GeneralSans-Medium';
    src: url('assets/fonts/GeneralSans-Medium.woff2') format('woff2'), url('assets/fonts/GeneralSans-Medium.woff') format('woff'), url('assets/fonts/GeneralSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-MediumItalic';
    src: url('assets/fonts/GeneralSans-MediumItalic.woff2') format('woff2'), url('assets/fonts/GeneralSans-MediumItalic.woff') format('woff'), url('assets/fonts/GeneralSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'GeneralSans-Semibold';
    src: url('assets/fonts/GeneralSans-Semibold.woff2') format('woff2'), url('assets/fonts/GeneralSans-Semibold.woff') format('woff'), url('assets/fonts/GeneralSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-SemiboldItalic';
    src: url('assets/fonts/GeneralSans-SemiboldItalic.woff2') format('woff2'), url('assets/fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('assets/fonts/GeneralSans-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'GeneralSans-Bold';
    src: url('assets/fonts/GeneralSans-Bold.woff2') format('woff2'), url('assets/fonts/GeneralSans-Bold.woff') format('woff'), url('assets/fonts/GeneralSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-BoldItalic';
    src: url('assets/fonts/GeneralSans-BoldItalic.woff2') format('woff2'), url('assets/fonts/GeneralSans-BoldItalic.woff') format('woff'), url('assets/fonts/GeneralSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

/* You can add global styles to this file, and also import other style files */

body, html {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.GeneralSansReg{
    font-family: 'GeneralSans-Regular';
}

.app-container {
    max-width: 640px;
    margin: 0 auto;
}

p {
    overflow: hidden;
}

.lazyImage {
    filter: blur(20px);
    width: 100%;
    min-height: 200px;
    display: block;
    transition: filter ease-in 0.3s;
    -moz-transition: filter ease-in 0.3s;
    -webkit-transition: filter ease-in 0.3s;
    -ms-transition: filter ease-in 0.3s;
    -o-transition: filter ease-in 0.3s;
}

.ng-lazyloaded {
    filter: blur(0);
    transform: unset;
    -moz-transform: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
}

/* html, body {
    height: 100%;
} */

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a, a:focus, a:hover {
    color: #000000;
    text-decoration: none;
}

h2 {
    font-size: 18px;
    line-height: 1.4;
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
}

p.small {
    font-size: 14px;
    margin: 5px auto;
}
p.small.black{
    color: #000;
}

.plyr__control--overlaid {
    background-color: red!important;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background-color: red!important;
}

.plyr--full-ui input[type=range] {
    color: red!important
}

.bottom-bar-padding {
    padding-bottom: 56px;
}

.gray {
    color: #7C7C7C;
}

.light-gray {
    color: #cccccc;
}

.red {
    color: #cb202e;
}

.mat-icon {
    vertical-align: middle;
}

.otherLinks {
    padding: 25px 0;
}

.otherLinks p {
    padding: 0px 16px;
    font-size: 14px;
    line-height: 32px;
}

.font-12 {
    font-size: 12px;
    line-height: 1.2;
}

.font-16 {
    font-size: 16px;
    line-height: 1.2;
}

.font-18 {
    font-size: 18px;
    line-height: 1.2;
}

.font-22 {
    font-size: 22px;
    line-height: 1.2;
}

.font-25 {
    font-size: 25px;
    line-height: 1.2;
}

.mat-toolbar {
    background-color: #fff!important;
}

.mat-drawer-container {
    background: #fff!important;
    /* max-height: 100vh; */
    overflow-x: hidden!important;
    overflow-y: auto!important;
}

.mat-drawer-container-has-open {
    overflow-x: hidden!important;
    overflow-y: hidden!important;
}

.mainLogoWrap i {
    color: #000;
    font-weight: bold;
}

.mainToolBar .NavButtonMain {
    margin-left: -15px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(255 255 255 / 4%);
}

.mat-form-field-label {
    color: #333333;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #333333;
}

.mat-select-value {
    color: #333333;
}

.mat-select-arrow {
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
    border-top: 7px solid !important;
    margin: 0 4px;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: rgb(255 255 255 / 12%)!important;
}

.mat-select-panel {
    background: #fff !important;
}
.mainLogoWrap{
    margin-top: 20px;
}
.example-spacer {
    flex: 1 1 auto;
}
img{
    display: block;
    margin: 0 auto;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mediaImageWrap{
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
}
/* .mediaImageWrap p{  
    margin-bottom: -5px;
} */
/* .mediaImageWrap p img{
    padding-bottom: 5px;
} */
.mediaImageWrap.smallBlock{
    width: 100px;
    height: 100px;
    min-height: 100px;
}
.mediaImageWrap.smallBlock img{
    width: 100px;
    height: 100px;
    min-height: unset;
    object-fit: cover;
}
.contentPadding{
    padding-right: 16px;
    width: 100%;
}
.knowledgeBlock .title{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 5px auto;
}
.mat-drawer-content{
    overflow-x: hidden!important;
}
.knowledgeDivider{
    margin: 0 auto;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    width: calc(100% - 32px);
}
.opacityHidden{
    opacity: 0;
}
.iconMaster{
    padding: 5px;
}
.iconMaster img{
    height: 24px;
    width: 24px;
    border-radius: 15px;
}