<div class="app-container">
    <ng-container *ngIf="knowledge && knowledge.title != '' && !isLoading">
        <div style="margin-top: 15px; padding: 0 15px;">
            <!-- <h2>{{knowledge.title}}</h2>
            <p class="small gray" style="margin: 5px auto!important">{{knowledge.location}} <span *ngIf="knowledge.location != ''"> <span class="dotSeparator"></span> </span> {{knowledge.relative_time}}</p> -->
            
            <div class="inlineProfile">
                <div class="flexBlock verticalcenter">
                    <div class="profilePic">
                        <img src="{{knowledge.profile.profile_picture}}" />
                    </div>
                    <div class="profileInfo">
                        <h2>
                            {{knowledge.profile.name}} 
                            <span class="dotSeparator"></span>
                            <a href="javascript:void(0)" class="followBtn GeneralSansReg">
                                Follow
                            </a>
                        </h2>
                        <ng-container *ngIf="knowledge.profile.designations.length > 0">
                            <p class="small gray">{{knowledge.profile.designations[0].designation}} at {{knowledge.profile.designations[0].company_name}}</p>
                        </ng-container>
                    </div>
                    <!-- <span class="example-spacer"></span> -->
                    <!-- <div class="followButton">
                        <a href="javascript:void(0)" class="followBtn GeneralSansReg">Follow</a>
                    </div> -->
                </div>
            </div>

            <div class="mediaImageWrapContent">
                <ng-container *ngIf="knowledge.post_type == 'youtube'">
                    <iframe style="width: 100%; height: 320px;" [src]="knowledge.media[0].media_url | safe: 'resourceUrl'" frameborder="0" allowfullscreen></iframe>
                </ng-container>

                <ng-container *ngIf="knowledge.post_type == 'video'">
                    <plyr style="display: block;" [plyrOptions]="playerOptions" [plyrTitle]="" [plyrPlaysInline]="true" [plyrPoster]="'http:'+knowledge.media[0].media_url.replace('mp4', 'jpg')" [plyrSources]="'http:'+knowledge.media[0].media_url"></plyr>
                </ng-container>

                <ng-container *ngIf="knowledge.post_type == 'slider'">

                    <swiper [config]="config">
                        <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let media of knowledge.media">
                                <img [defaultImage]="knowledge.media[0].media_url_thumb" [lazyLoad]="knowledge.media[0].media_url" class="lazyImage" />
                        </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </swiper>

                </ng-container>
                
                <ng-container *ngIf="knowledge.post_type == 'image'"> 

                    <div *ngIf="knowledge.media[0].media_url != ''">
                        <!-- <img [defaultImage]="knowledge.media[0].media_url_thumb" [lazyLoad]="knowledge.media[0].media_url" class="lazyImage" /> -->
                        <img [defaultImage]="knowledge.media[0].media_url_thumb" [lazyLoad]="knowledge.media[0].media_url" class="lazyImage" />
                    </div>

                </ng-container>
            </div>

            <div class="contentWrapper">
                <div class="contentInnerWrap">
                    <h2 class="GeneralSansReg">{{knowledge.title}}</h2>
                    <p class="small gray" style="margin: 5px auto!important">{{knowledge.location}} <span *ngIf="knowledge.location != ''"> <span class="dotSeparator"></span> </span> {{knowledge.relative_time}}</p>
                </div>
            </div>

            <div *ngIf="knowledge.blocks.length > 0">

                <div class="contentWrapper">

                    <div class="contentInnerWrap">
                        <ng-container *ngFor="let block of knowledge.blocks; let i = index;">
                            <div *ngIf="i < 2 || isReadMore">
                                <ng-container *ngIf="block.block_type == 'image' && block.block_content != ''">
                                    <!-- <img [defaultImage]="block.block_content" [lazyLoad]="block.block_content" class="lazyImage" /> -->
                                    <img src="https:{{block.block_content}}" class="image-responsive" />
                                </ng-container>
                                <ng-container *ngIf="block.block_type == 'slider' && block.block_content != ''">
                                    <!-- <img [defaultImage]="block.block_content" [lazyLoad]="block.block_content" class="lazyImage" /> -->
                                    <img  src="https:{{block.block_content}}"  class="image-responsive" />
                                </ng-container>
                                <ng-container *ngIf="block.block_type == 'text'">
                                    <p [innerHtml]="block.block_content"></p>
                                </ng-container>
                            </div>
                        </ng-container>
                        <div class="overlayShaddow" *ngIf="!isReadMore && knowledge.blocks.length > 2"></div>
                    </div>
                    <div class="readMoreBlock" *ngIf="!isReadMore && knowledge.blocks.length > 2">
                        <!-- <button mat-flat-button (click)="readMoreContent()" color="primary">Read More</button> -->
                        <div matRipple class="tabBox" (click)="readMoreContent()">
                            <p style="margin: 0">Read More</p>
                        </div>
                    </div>
                    <div class="readMoreBlock" *ngIf="isReadMore">
                        <!-- <button mat-flat-button (click)="readMoreContent()" color="primary">Read More</button> -->
                        <div matRipple class="tabBox" (click)="readLessContent()">
                            <p style="margin: 0">Read Less</p>
                        </div>
                    </div>

                    <div class="commentBlock">
                        <!-- <button mat-flat-button (click)="readMoreContent()" color="primary">Read More</button> -->
                        <div matRipple class="tabBox black">
                            <p style="margin: 0">View Comments</p>
                        </div>
                    </div>

                    <div class="tagDivierWrap">
                        <div class="tagBlockSeparator"></div>
                    </div>

                    <div class="tagWrapper">
                        <ng-container *ngFor="let tag of knowledge.tags">
                            <ng-container *ngIf="tag.tag != ''">
                                <div matRipple class="tabBox grayBg">
                                    <h2>
                                        <div class="flexBlock verticalcenter">
                                            <div matRipple [matRippleCentered]="true" class="iconMaster"><img src="assets/icons/placeholder.jpg" /></div>
                                            <a routerLink="/tag-knowledges/{{tag.tag_id}}">
                                                {{tag.tag}}
                                            </a>
                                            <div class="arrow">
                                                <mat-icon>arrow_forward_ios</mat-icon>
                                            </div>
                                        </div>
                                    </h2>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngFor="let user of knowledge.users">
                            <ng-container *ngIf="user.name != ''">
                                <div matRipple class="tabBox grayBg">
                                    <div class="flexBlock verticalcenter">
                                        <div class="profilePic">
                                            <img src="{{user.profile_picture}}" />
                                        </div>
                                        <div class="profileInfo">
                                            <h2>{{user.name}}</h2>
                                            <ng-container *ngIf="user.designations.length > 0">
                                                <p class="small gray">{{user.designations[0].designation}} at {{knowledge.profile.designations[0].company_name}}</p>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="arrow">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                </div>

            </div>

            <div class="tagDivierWrap">
                <div class="tagBlockSeparator"></div>
            </div>


            <div class="similarNewsWrap">
                <h2 class="GeneralSansSemiBold">Similar News</h2>
                <div class="simiarNews">
                    <div class="app-container bottom-bar-padding" infiniteScroll [infiniteScrollDistance]="5"  (scrolled)="getKnowledges()">
                        <ng-container>
                            <div style="margin-top: 15px;">
                                <ng-container *ngFor="let similarknowledge of knowledge.posts; let i = index">
            
                                    <app-knowledge-block [knowledge]="similarknowledge"></app-knowledge-block>
            
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>