<div class="app-container">
    <ng-container *ngIf="knowledge && knowledge.title != ''">
        <div style="margin-top: 15px; padding: 0 15px;">
            <h2>{{knowledge.title}}</h2>
            <p class="small gray" style="margin: 5px auto!important">{{knowledge.location}} <span *ngIf="knowledge.location != ''"> <span class="dotSeparator"></span> </span> {{knowledge.relative_time}}</p>
            
            <div class="inlineProfile">
                <div class="flexBlock verticalcenter">
                    <div class="profilePic">
                        <img src="{{knowledge.profile.profile_picture}}" />
                    </div>
                    <div class="profileInfo">
                        <h2>{{knowledge.profile.name}}</h2>
                        <p class="small gray">{{knowledge.profile.designations[0].designation}} at {{knowledge.profile.designations[0].company_name}}</p>
                    </div>
                    <span class="example-spacer"></span>
                    <div class="followButton">
                        <button mat-flat-button class="radiusButton" color="primary">Follow</button>
                    </div>
                </div>
            </div>

            <div class="mediaImageWrap">
                <ng-container *ngIf="knowledge.post_type == 'youtube'">
                    <iframe style="width: 100%; height: 320px;" [src]="knowledge.media[0].media_url | safe: 'resourceUrl'" frameborder="0" allowfullscreen></iframe>
                </ng-container>

                <ng-container *ngIf="knowledge.post_type == 'video'">
                    <plyr style="display: block;" [plyrOptions]="playerOptions" [plyrTitle]="" [plyrPlaysInline]="true" [plyrPoster]="'http:'+knowledge.media[0].media_url.replace('mp4', 'jpg')" [plyrSources]="'http:'+knowledge.media[0].media_url"></plyr>
                </ng-container>

                <ng-container *ngIf="knowledge.post_type == 'slider'">

                    <swiper [config]="config">
                        <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let media of knowledge.media">
                                <img src="http:{{media.media_url}}" class="lazyImage" />
                        </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </swiper>

                </ng-container>
                
                <ng-container *ngIf="knowledge.post_type == 'image'"> 

                    <div *ngIf="knowledge.media[0].media_url != ''">
                        <!-- <img [defaultImage]="knowledge.media[0].media_url_thumb" [lazyLoad]="knowledge.media[0].media_url" class="lazyImage" /> -->
                        <img [defaultImage]="knowledge.media[0].media_url_thumb" [lazyLoad]="knowledge.media[0].media_url" class="lazyImage" />
                    </div>

                </ng-container>
            </div>

            <div *ngFor="let block of knowledge.blocks">
                <ng-container *ngIf="block.block_type == 'image' && block.block_content != ''">
                    <!-- <img [defaultImage]="block.block_content" [lazyLoad]="block.block_content" class="lazyImage" /> -->
                    <img src="https:{{block.block_content}}" class="lazyImage" />
                </ng-container>
                <ng-container *ngIf="block.block_type == 'text'">
                    <p [innerHtml]="block.block_content"></p>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>